@media (max-width: 1024px) {
  h1 {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  h2 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 12px;
  }
}

#main-display-border {
  width: 90%;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  #main-display-border {
    width: 98%;
  }
}

@media (max-width: 768px) {
  #main-display-border {
    width: 98%;
  }
}

@media (max-width: 500px) {
  #main-display-border {
    width: 99%;
    height: 800px;
    border-radius: 0px;
  }
}

#main-display {
  width: 97.5%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(green, darkgreen, black);
  color: white;
  border-style: solid;
  border-width: 10px;
  border-radius: 50%;
  border-color: #654321;
}

@media (max-width: 1024px) {
  #main-display {
    width: 97%;
    height: 95.5%;
  }
}

@media (max-width: 768px) {
  #main-display {
    width: 96%;
    height: 95%;
  }
}

@media (max-width: 500px) {
  #main-display {
    width: 94.6%;
    height: 97%;
    border-width: 6px;
    border-radius: 0px;
  }
}

@media (max-width: 380px) {
  #main-display {
    width: 94.4%;
    height: 97%;
    border-width: 6px;
    border-radius: 0px;
  }
}

#game-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -3%;
}

#start-button {
  background: linear-gradient(to bottom, #ffd700 5%, #daa520 100%);
  background-color: #ffd700;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  font-family: PT Serif;
}

@media (max-width: 1024px) {
  #start-button {
    font-size: 16px;
    padding: 5.33px 10.67px;
  }
}

@media (max-width: 500px) {
  #start-button {
    font-size: 14px;
    padding: 4.67px 9.33px;
  }
}

#start-button:hover {
  background: linear-gradient(to bottom, #daa520 5%, #ffd700 100%);
  background-color: #daa520;
}

#start-button:active {
  position: relative;
  top: 1px;
}
